.Corpoft{
    background: radial-gradient(circle, rgba(0,0,0,1) 69%, rgba(139,24,24,1) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 125px;

    min-width: 50px;
    
}

.texto{
    font-size: 16px;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.titulo{
    font-size: 25px;

}